@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cwhite: #f5f5f5;
  --cblack: #121014;
  --cdarkpurple: #30173d;
  --cdarkerpurple: #0b050f;
  --clightpurple: #8e539c;
  --cturquoise: #00a19a;
  --clightgreen: #2fac66;
  --cpink: #d47db2;
  --clightblue: #7dd1e6;
  --cyellow: #ffdb4a;
}

body {
  font-family: "Red Hat", Helvetica, sans-serif;
}

button + .neon {
  background: var(--cdarkpurple);
  position: absolute;
  border-radius: 10px;
  top: 44px;
  width: 60px;
  height: 40px;
  z-index: 100;
  transform: rotateX(40deg) scale(1.4, 0.3);
  filter: blur(0.5em);
  pointer-events: none;
  animation: pulsate 3s infinite;
}

@keyframes pulsate {
  0% {
    transform: rotateX(40deg) scale(1.4, 0.3);
    filter: blur(0.5em);
    opacity: 1;
  }
  50% {
    transform: rotateX(40deg) scale(1.6, 0.4);
    filter: blur(0.7em);
    opacity: 0.8;
  }
  100% {
    transform: rotateX(40deg) scale(1.4, 0.3);
    filter: blur(0.4em);
    opacity: 1;
  }
}
